html {
  font-size: 16px;
}
body {
  font-family: "Assistant", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.header_section {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 54px;
}

.header_menu {
  ul {
    text-align: right;

    li {
      display: inline-block;
      line-height: 36px;
      padding: 0 15px;
      background: transparent;
      border-radius: 40px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin-left: 5px;
      margin-top: 10px;
      position: relative;
      &:hover ul {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
      ul {
        position: absolute;
        left: 0;
        top: 100%;
        width: 160px;
        padding: 0;
        margin: 0;
        background: rgb(168, 124, 124);
        text-align: center;
        transform: translateY(30px);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease all;
        li {
          border-radius: 0;
          margin: 0;
          line-height: 40px;
          display: block;
        }
      }
      &:hover {
        background: #fff;

        a {
          color: #ffba00;
        }
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 17px;
    }
  }
}

// ==========slider-section
.carousel {
  position: relative;
}
.shadows {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  background: transparent;
  border: none;
}

.b_bottom {
  transform: translateY(-50px);
}
.c_caption {
  transform: translateY(-495px);
}
.c_caption h1 {
  font-size: 86px;
  font-weight: 900 !important;
}
.btn {
  color: #fff;
  padding: 14px 33px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0;
  margin-top: 31px;
}
.btn:hover {
  color: #fff;
  background-color: #20343f;
  border-color: #20343f;
}
.btncarcle {
  margin: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
}
.btncarcle:focus {
  background: yellow;
  border: 1px solid transparent;
}

// ====================build_section============

.build_section {
}
.container2 {
  width: 1133px;
}
.build_img {
  position: relative;
}
.build_img::before {
  content: "";
  right: 78px;
  top: -29px;
  position: absolute;
  background-image: url(./img/dot-image.png);
  height: 37%;
  width: 35%;
  z-index: -1;
}
.build_img::after {
  content: "";
  left: -25px;
  bottom: -29px;
  position: absolute;
  background-image: url(./img/dot-image.png);
  height: 37%;
  width: 35%;
  z-index: -1;
}

.small_img {
  width: 254px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 44px;
  bottom: -61px;
  height: 254px;
}
.s_img::before {
  content: "";
  left: 0;
  top: 8px;
  position: absolute;
  width: 95%;
  left: 6px;
  height: 97%;
  background: rgba(255, 171, 0, 0.5);
  border-radius: 50%;
}
.s_img {
  position: relative;
}
.small_img img {
  width: 241px;
  margin-left: 6px;
  margin-top: 7px;
}
.build_right {
}
.build_right h1 {
  color: #131c3b;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Oswald";
}
.build_right p {
  line-height: 26px;
}
.prg {
  background: #f2f4f7;
  color: #131c3b;
  font-size: 19px;
  font-weight: 600;
}

// ================features-section=================

.features-section {
  background: #f1f1f1;
}
.features_title h2 {
  color: #131c3b;
  font-size: 50px;
}
.features:hover {
  background: #ffba00;
  color: #fff;
}
.features {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  transition: 0.3s all;
  margin: 40px 0;
}

.features h3 {
  font-size: 27px;
  font-weight: 350;
  font-family: "Assistant";
  margin-bottom: 42px;
}

.choose_left ul li {
  line-height: 31px;
  font-family: "Assistant";
  color: #878b99;
  font-size: 20px;
}
.fa-check::before {
  content: "\f00c";
  margin-right: 10px;
  color: #131c3b;
}
.choose_left p {
  line-height: 26px;
  padding-right: 51px;
}
.choose_right {
  position: relative;
}
.choose_right::after {
  content: "";
  left: -42px;
  top: -40px;
  position: absolute;
  background-image: url(./img/dot-image.png);
  height: 47%;
  width: 39%;
  z-index: -1;
}
.choose_right::before {
  content: "";
  right: 25px;
  bottom: -41px;
  position: absolute;
  background-image: url(./img/dot-image.png);
  height: 47%;
  width: 31%;
  z-index: -1;
}
.innerimg {
	position: absolute;
	width: 500%;
	height: 172%;
	background: #ffba00;
	left: 347px;
	top: -97px;
	z-index: -2;
}
.r_img img {
  border-radius: 0 20px 20px 0;
}

// industry-section============

.industry_section {
  background-image: url(./img/served-bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cercle2 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 17%;
	position: relative;
	padding: 5px 8px !important;
	background: #fff !important;
    transition: .4s;
}
.cercle2:hover{
     background: red;
     color: #fff;
}
.cercle2::before {
	content: "";
	left: 0;
	top: -55px;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 111px 55px 111px;
	border-color: transparent transparent #fff transparent;
}
.cercle2::after {
	content: "";
	left: 0;
	bottom: -55px;
	position: absolute;
	width: 0;
	height: 0;
	-webkit-transform: rotate(320deg);
	transform: rotate(540deg);
	border-style: solid;
	border-width: 0 111px 55px 111px;
	border-color: transparent transparent #fff transparent;
}
.cercle2 p {
	font-size: 23px;
	padding: 0;
	margin: 0;
	line-height: 28px;
	margin-top: 10px;
	margin-top: 19px !important;
    color: #131c3b !important;
}

// ===============Our Engineers_section==============
.Our_section{
  margin: 100px 0;
}
.o_left h1 {
	font-size: 49px;
	font-weight: bold;
	color: #131c3b;
}

.img_o{
  position: relative;
}
.name {
	position: relative;
	top: -50px;
	color: #fff;
	left: 65px;
	font-size: 25px;
	font-weight: bold;
}
.img_o img{}
.inner_img_o {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 186, 0, 0.85) !important;
	height: 89%;
	width: 267px;
	border-radius: 4px;
	text-align: center;
	padding-top: 102px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .4s ease all;
	transition: .4s ease all;
}
.img_o:hover .inner_img_o{
  visibility: visible;
  opacity: 1;
}
.inner_content{
  transition: .5s;
}
.img_o:hover .inner_img_o .inner_content{
  transform: translateY(50px);
}
.inner_content ul li a i {
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	font-size: 20px;
	padding: 5px;
}
.inner_content ul li a i:hover{
 color: #fff;
 transform: scale(1.3);
  
}

// =========Clients-setisfied_section=====================


.build{
  background: rgb(134, 134, 170);
}

.setisfied{
  box-shadow: 5px 5px 25px rgb(0 0 0 / 22%);
  padding: 10px;
  background: #fff;
}
.s_img{}
.ss_img img {
	width: 123px;
	height: 123px;
}